body {
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.result-textbox {
    width: auto;
    min-width: 300px;
    max-width: 100%;
    min-height: 150px;
    height: auto;
    display: inline-block;
    white-space: pre;
    overflow-x: auto;
}

.copy-button {
    background-color: #55DB41;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

    .copy-button:hover {
        background-color: #3FA130;
    }

.calculate-button {
    background-color: #F5A034;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

    .calculate-button:hover {
        background-color: #BB7B27;
    }

.custom-file-upload {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

    .custom-file-upload:hover {
        background-color: #0056b3;
    }
