body {
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.result-textbox {
    width: auto;
    min-width: 300px;
    max-width: 100%;
    min-height: 150px;
    height: auto;
    display: inline-block;
    white-space: pre;
    overflow-x: auto;
}
